#btn_cookies,
#btn_cancel_cookies {
    cursor: pointer;
    padding: 12px 40px !important;
    vertical-align: middle;
    display: inline-block;
    margin: 0 auto;
}

.wop_cookies {
    width: 100%;
    padding: 12px 0px;
    display: none;
    z-index: 99999999;
    position: fixed;
}

.extra_footer_col_1_1,
#wop_extra_footer {
    width: 98%;
    float: left;
    box-sizing: border-box;
    padding: 1%;
}

.extra_footer_col_1_2 {
    width: 48%;
    float: left;
    padding: 1%;
}

.extra_footer_col_1_3 {
    width: 31.33%;
    float: left;
    padding: 1%;
}

.extra_footer_col_1_4 {
    width: 23%;
    float: left;
    padding: 1%;
}

.cookies_pos_top {
    top: 0px;
}

.cookies_pos_bottom {
    bottom: 0px;
}

@media screen and (max-width: 1240px) {
    .extra_footer_col_1_3,
    .extra_footer_col_1_4 {
        width: 48% !important;
        padding: 1%;
    }
    #wop_extra_footer {
        padding-left: 1% !important;
        padding-right: 1% !important;
    }
}

@media screen and (max-width: 860px) {
    .extra_footer_col_1_2,
    .extra_footer_col_1_3,
    .extra_footer_col_1_4 {
        width: 98% !important;
        padding: 1%;
    }
    #wop_extra_footer {
        padding-left: 1% !important;
        padding-right: 1% !important;
    }
}

.wop_cookies .block_cookies {
    width: 60%;
    margin: 0px 20%
}

.wop_cookies .block_cookies .col_2_3 {
    width: 66.66%;
    float: left;
}

.wop_cookies .block_cookies .col_1_3 {
    width: 33.33%;
    text-align: center;
    float: left;
}

@media screen and (min-width: 1101px) and (max-width: 1460px) {
    .wop_cookies .block_cookies {
        width: 80%;
        margin: 0px 10%;
    }
}

@media screen and (min-width: 721px) and (max-width: 1100px) {
    .wop_cookies .block_cookies .col_1_3,
    .wop_cookies .block_cookies .col_2_3 {
        width: 100%;
    }
    .wop_cookies .block_cookies {
        width: 80%;
        margin: 0px 10%;
    }
}

@media screen and (max-width: 720px) {
    .wop_cookies .block_cookies .col_1_3,
    .wop_cookies .block_cookies .col_2_3 {
        width: 100%;
    }
    .wop_cookies .block_cookies {
        width: 96%;
        margin: 0px 2%;
    }
}

.texto_cookies {
    text-align: center;
}

#floating_widget_button_right,
#floating_widget_button_bottom,
#floating_widget_button_left {
    position: fixed;
    z-index: 9999;
    padding: 8px 40px;
}

#floating_widget_button_top {
    position: fixed;
    z-index: 9999;
    padding: 8px 40px;
}

#floating_widget_button_right {
    transform-origin: 100% 100%;
    -webkit-transform-origin: 100% 100%;
}

#floating_widget_button_left {
    transform-origin: 0% 100%;
    -webkit-transform-origin: 0% 100%;
}

#floating_widget_top,
#floating_widget_bottom,
#floating_widget_left,
#floating_widget_right {
    position: fixed;
    z-index: 9999;
    padding: 20px 30px;
}

#floating_widget_button_bottom {
    bottom: 0px;
    border-radius: 15px 15px 0px 0px;
}

#floating_widget_button_top {
    top: 0px;
    border-radius: 0px 0px 15px 15px;
}

#floating_widget_button_right {
    right: 0px;
    border-radius: 15px 0px 0px 15px;
}

#floating_widget_button_left {
    left: 0px;
    border-radius: 0px 15px 15px 0px;
}

#floating_widget_top,
#floating_widget_left,
#floating_widget_right {
    top: 0px;
}

#floating_widget_bottom {
    bottom: 0px;
}

#floating_widget_button_top,
#floating_widget_button_bottom,
#floating_widget_button_left,
#floating_widget_button_right {
    cursor: pointer;
}

#scroll_back_btn {
    display: none;
    position: fixed;
    z-index: 9999;
    border: none;
    outline: none;
    cursor: pointer;
    bottom: 10px;
    right: 10px;
    transition: background-color 0.7s;
    -webkit-transition: background-color 0.7s;
    transition: color 0.7s;
    -webkit-transition: color 0.7s;
}

#scroll_back_btn:hover {
    transition: background-color 0.7s;
    -webkit-transition: background-color 0.7s;
    transition: color 0.7s;
    -webkit-transition: color 0.7s;
}

@media only screen and (max-width: 920px) {
    #floating_widget_button_top,
    #floating_widget_button_bottom,
    #floating_widget_button_left,
    #floating_widget_button_right {
        bottom: 0px !important;
        top: inherit !important;
        width: 100% !important;
        left: 0px !important;
        right: 0px !important;
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        text-align: center !important;
        padding: 15px 0px !important;
        z-index: 999999999 !important;
    }
    .right_button_show,
    .left_button_show,
    .top_button_show,
    .bottom_button_show {
        transition: inherit !important;
        left: 0px !important;
        right: 0px !important;
    }
    #floating_widget_top,
    #floating_widget_bottom {
        left: 0px !important;
    }
    #floating_widget_bottom {
        margin-bottom: 45px !important;
    }
    #floating_widget_top,
    #floating_widget_bottom,
    #floating_widget_left,
    #floating_widget_right {
        width: 100% !important;
    }
    .right_hide {
        right: -100% !important;
    }
    .left_hide {
        left: -100% !important;
    }
    #floating_widget_left,
    #floating_widget_right {
        top: inherit !important;
        bottom: 45px !important
    }
}