#loginform {
    background-color: #fff !important;
    border-radius: 12px !important;
}

#loginform p label,
#loginform a,
.login #nav a,
#backtoblog a {
    color: #D96000 !important;
}

#wp-submit {
    background-color: #D96000 !important;
    border-color: #D96000 !important;
    color: #fff !important;
    text-shadow: none !important;
}